.headerBox{
    color: aqua;
}

.counterBox{
    min-height: 5ch;
    min-width: 16ch;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 1ch;
}

.counterNumber{
    font-size: 3ch;
    flex: 1;
}

.counterButton{
    border-radius: 0.5ch;
    background-color: aqua;
    color: black;
    font-size: 2ch;
    font-weight: bold;
    margin: 0.5ch;
    flex: 1;
}

#carList{
    text-align: left;
    min-width: 20ch;

    list-style-position: inside;
}