/*
.App & .App-header are from the react's App.css, copied here to make the site look a bit nicer 
*/

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerBox{
    color: aqua;
}

.counterBox{
    min-height: 5ch;
    min-width: 16ch;
    max-width: 100ch;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 1ch;
}

.counterNumber{
    font-size: 3ch;
    flex: 1;
}

.counterButton{
    border-radius: 0.5ch;
    background-color: aqua;
    color: black;
    font-size: 2ch;
    font-weight: bold;
    margin: 0.5ch;
    flex: 1;
}

#carList{
    text-align: left;
    min-width: 20ch;
    list-style-position: inside;
}