.App {
    color: rgba(10, 10, 100, 1);
}

.borderless{
    border: none;
}

.border{
    border: solid red 1px;
}

/*The 3 inputs for the user to fill*/
#inputFields{
    box-sizing: border-box;
    background-color: khaki;
    border: black solid 2px;
    padding: 1ch;
    width: 20ch;
}

.textInput {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

#dropbtn{
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    border: grey solid 1px;
    background-color: white;
    margin-top: 0.5ch;
    padding: 0.5ch;
    text-align: left;
    border-radius: 0.5ch;
}

#dropbtn:hover{
    background-color: lightblue;
}

#dropdown {
    
    width: 100%;
    position: relative;
}

.dropdown-content{
    display: block;
    box-sizing: border-box;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20ch;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

/* Buttons inside the dropdown */
.listbtn{
    color: black;
    border: solid lightgrey 1px;
    background-color: white;
    width: 100%;
    text-decoration: none;
    display: block;
    padding: 0.5ch;
    text-align: left;
}

.listbtn:hover {
    cursor: pointer;
    background-color: lightblue;
    padding-top: 1ch;
    padding-bottom: 1ch;
    /*padding-left: none;*/
}

#savebutton {
    box-sizing: border-box;
    position: relative;
    margin-top: 0.5ch;
    width: 50%;
    cursor: pointer;
}

#messagebox {
    position: absolute;
    margin-left: 45%;
    margin-right: 45%;
    width: 20%;
    max-width: 30ch;
    min-height: 10ch;
    text-align: center;
    border: solid black 2px;
    border-radius: 1ch;
    padding: 1ch;
}